/* "Press Start 2P", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* font-family: "Poppins", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
}

.pantalla-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(29, 31, 32, 0.904) radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%);
    background-size: 11px 11px;
    position: relative;
}

.pantalla-juego {
    height: 100%;
    width: 100%;
    background-image: url('./img/elements.jpg');
    background-position: 110%;
    background-repeat: no-repeat;
    background-size: contain;
}

.fondo-versus {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.527)), url('./img/versus.jpg') !important;
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#startbutton {
    width: 130px;
    height: 50px;
    text-transform: uppercase;
    padding: 5px;
    border: none;
    outline: none;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: 10px;
    border-radius: 3px;
    box-shadow: 4px 5px 0px;
    border-bottom: 2px solid;
    border-right: 1px solid;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-1%, -3%);
    cursor: pointer;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 1px;
}

#startbutton:hover {
    background-color: lightgrey;
    box-shadow: 3px 3px 1px;
    border-bottom: 2px solid;
    transform: translate(-1%, -1%);
    transition: all 0.1s ease-in;
}

#startbutton:active {
    box-shadow: none;
    border-bottom-width: 2px;
    transform: translate(3px, 4px);
}

.contenedorPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#prender-music {
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 18px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    outline: none;
    border: 2px solid white;
    transition: all .3s ease;
    font-size: 20px;
}

#prender-music:hover {
    background-color: rgb(38, 134, 25);
    color: #EEEEEE;
}

#apagar-music {
    text-align: center;
    border: none;
    outline: none;
    border: 2px solid white;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: all .3s ease;
}

#apagar-music:hover {
    background-color: rgb(71, 63, 63);
    color: #EEEEEE;
}

.tituloPrincipal {
    margin-top: 1.5rem;
    font-size: 40px;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    background: linear-gradient(90deg,
            #104d8a,
            #00bfff,
            #34a334,
            #1b6b1b,
            #ff4500,
            #ff8c00,
            #e3e1e6,
            #ebe7eb);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 5s ease infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container-flecha {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100px;
    width: 100%;
}

.container-flecha h2 {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: "Press Start 2P", system-ui;
    color: #ffffff;
    position: absolute;
    bottom: -100px;
    animation: jump 1s infinite;
}

@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

#container-mensajes {
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    width: 100%;
}

#mensajes-batalla {
    color: #ffffff;
    font-size: 16.5px;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
}

.ganado {
    color: green;
}

.perdido {
    color: red;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.info-container .img-icono {
    width: 40px;
    height: 40px;
    margin: 0;
}

.info h3 {
    font-size: 14px;
    letter-spacing: 1.5px;
}

.img-corazon {
    margin: 0 5px;
    width: 30px;
    height: 25px;
}

#container-vidas {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
    font-family: "Press Start 2P", system-ui;
    color: #ffffff;
    margin-top: 3rem;
}

#vidas-computer,
#vidas-player {
    font-size: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-vidas {
    font-size: 20px;
}

#container-atck {
    display: none;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    gap: 5rem;
}

#atck-player {
    color: #EEEEEE;
    font-size: 14px;
}

#atck-computer {
    color: #EEEEEE;
    font-size: 14px;
}

#container-resultado {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

#mensaje-final {
    text-align: center;
    font-size: 60px;
    font-family: "Press Start 2P", system-ui;
}

.mensaje-ganador {
    color: gold;
}

.bounce {
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.mensaje-perdedor {
    color: rgb(255, 255, 255);
}

.anaglyph {
    animation: blink 1.5s step-start infinite;
    text-shadow: 4px 3px 1px red, -4px -3px 1px cyan;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.containerRondas {
    display: none;
    padding: 1rem;
    letter-spacing: 1.5px;
    color: #EEEEEE;
    font-size: 18px;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
}

.contenedorPersonajes {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-block-end: 2rem;
}

.imgPersonajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: filter 0.3s;
    cursor: pointer;
    transition: transform .4s ease;
}

.imgPersonajes:hover {
    filter: none;
    transform: translateY(-5px) scale(1.05);
}

.imgPersonajes:not(:hover) {
    filter: grayscale(100%);
}

.imgPersonajes p {
    color: #EEEEEE;
    text-align: center;
    font-size: 14px;
    font-family: "Press Start 2P", system-ui;
}

.img-personaje {
    width: 200px;
    height: 200px;
    transition: filter .2s;
}

.img-personaje:hover {
    filter: drop-shadow(0 0 5px #ffffff);
}

.contenedorBotones {
    width: 100%;
    justify-content: center;
}

.imgAtaques {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    gap: 5rem;
}

.imgChoiceContainer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.imgChoiceContainer p {
    color: #EEEEEE;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
}

.imgAtaques img {
    width: 60px;
    height: 60px;
}

.img-choice {
    background-color: rgb(11, 12, 77);
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    transition: all .5s ease;
    box-shadow: 0px 0px 10px 3px #353e80b6;
}

.img-choice:hover {
    background-color: #101013a1;
    border: none;
    box-shadow: 0px 0px 10px 3px rgba(145, 145, 145, 0.678);
}

.opaque {
    opacity: 0.3;
}

/* Animaciones para los personajes */
.imgPersonaje__Batalla {
    width: 200px;
    height: 200px;
}

.player.tie {
    animation-name: tie;
    animation-duration: 1s;
}

.computer.tie {
    animation-name: tie;
    animation-duration: 1s;
}

.player.hurt {
    animation-name: hurt;
    animation-duration: 1s;
}

.computer.hurt {
    animation-name: hurt;
    animation-duration: 1s;
}

.player-choice.shoot {
    animation-name: player-shoot;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.computer-choice.shoot {
    z-index: 2;
    animation-name: computer-shoot;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes computer-shoot {
    50% {
        right: 40%;
        opacity: 1;
    }

    100% {
        right: 40%;
        opacity: 0;
    }
}

@keyframes player-shoot {
    50% {
        bottom: 25%;
        opacity: 1;
    }

    100% {
        bottom: 15%;
        opacity: 0;
    }
}


@keyframes tie {
    50% {
        transform: translateY(-0.5em);
    }

    70% {
        transform: translateY(0.5em);
    }

    80% {
        transform: scale(1.2);
    }
}

@keyframes hurt {
    50% {
        transform: skewX(2deg) skewY(2deg);
    }

    70% {
        transform: rotate(20deg);
    }

    80% {
        transform: scale(1.2);
        filter: sepia(70%);
    }
}

.btn-restart {
    width: 180px;
    height: 50px;
    background-color: #1f1e1e;
    margin: 30px;
    color: #EEEEEE;
    position: relative;
    overflow: hidden;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-family: "Press Start 2P", system-ui;
}

.buttons button:before,
.buttons button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #219644;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:after {
    left: 0;
    bottom: 0;
}

.buttons button span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.buttons button span:before,
.buttons button span:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #219644;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:after {
    left: 0;
    bottom: 0;
}

.buttons button p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
}

.buttons button p:before,
.buttons button p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
}

.buttons button p:before {
    content: attr(data-title);
    line-height: 2;
    top: 50%;
    transform: translateY(-50%);
}

.buttons button p:after {
    content: attr(data-text);
    top: 150%;
    color: #EEEEEE;
}

.buttons button:hover:before,
.buttons button:hover:after {
    width: 100%;
}

.buttons button:hover span {
    z-index: 1;
}

.buttons button:hover span:before,
.buttons button:hover span:after {
    height: 100%;
}

.buttons button:hover p:before {
    top: -50%;
    transform: rotate(5deg);
}

.buttons button:hover p:after {
    top: 50%;
    transform: translateY(-50%);
}

.buttons button.start {
    background-color: #219644;
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.buttons button.start p:before {
    top: -50%;
    transform: rotate(5deg);
}

.buttons button.start p:after {
    color: white;
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
}

@keyframes start {
    from {
        top: -50%;
    }
}

.buttons button.start:hover:before,
.buttons button.start:hover:after {
    display: none;
}

.buttons button.start:hover span {
    display: none;
}

.buttons button:active {
    outline: none;
    border: none;
}

.buttons button:focus {
    outline: 0;
}

/* Clase de la alerta */
.tituloAlert {
    text-align: center;
    font-size: 20px;
    color: black;
    font-family: "Press Start 2P", system-ui;
    padding: 0;
}

/* ====== MEDIAQUERIES ====== */

@media (min-width: 320px) and (max-width: 500px) {

    #startbutton {
        font-size: 9px;
        padding: 0;
        left: 37%;
    }

    .pantalla-juego {
        display: none;
        background-position: 40%;
    }

    .tituloPrincipal {
        font-size: 22px;
        line-height: 1.7;
        margin-bottom: 5rem;
    }

    .container-flecha {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .container-flecha h2 {
        font-size: 15px;
        width: 100%;
        max-width: 345px;
        line-height: 2;
        bottom: -100px;
    }

    .contenedorBotones {
        flex-wrap: wrap;
    }

    .contenedorPersonajes {
        margin-block-end: 4rem;
        justify-content: space-around;
    }

    .img-personaje {
        width: 130px;
        height: 130px;
    }

    .imgPersonajes p {
        font-size: 9px;
    }

    #mensaje-final {
        font-size: 40px;
    }

    .containerRondas {
        font-size: 12px;
        padding: 0;
    }

    .info h3 {
        font-size: 12px;
    }

    .info-container .img-icono {
        width: 30px;
        height: 30px;
    }

    #container-vidas {
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }

    .img-corazon {
        width: 25px;
        height: 20px;
    }

    .imgPersonaje__Batalla {
        width: 120px;
        height: 120px;
    }

    #container-atck {
        gap: 3rem;
        align-items: start;
        margin-block-end: 3.5rem;
        padding: 0 5px;
    }

    #atck-computer {
        font-size: 11.5px;
        line-height: 2;
    }

    #atck-player {
        font-size: 11.5px;
        line-height: 2;
    }

    #container-mensajes {
        min-height: 100px;
    }

    #mensajes-batalla {
        font-size: 13px;
    }

    .imgAtaques {
        flex-wrap: nowrap;
        gap: 1rem;
        margin-bottom: 4rem;
    }

    .imgChoiceContainer p {
        font-size: 12px;
    }

    .btn-restart {
        width: 140px;
        margin: 20px;
        font-size: 8px;
        margin-bottom: 5rem;
    }
}