/* Import Font 
    font-family: "Press Start 2P", system-ui;
*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
}

.pantalla-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(29, 31, 32, 0.904) radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%);
    background-size: 11px 11px;
}

.pantalla-juego {
    height: 100%;
    width: 100%;
    background: url('./img/elements.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
}

#startbutton {
    width: 130px;
    height: 50px;
    text-transform: uppercase;
    padding: 5px;
    border: none;
    outline: none;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-size: 10px;
    border-radius: 3px;
    box-shadow: 4px 5px 0px;
    border-bottom: 2px solid;
    border-right: 1px solid;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-1%, -3%);
    cursor: pointer;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 1px;
}

#startbutton:hover {
    background-color: lightgrey;
    box-shadow: 3px 3px 1px;
    border-bottom: 2px solid;
    transform: translate(-1%, -1%);
    transition: all 0.1s ease-in;
}

#startbutton:active {
    box-shadow: none;
    border-bottom-width: 2px;
    transform: translate(3px, 4px);
}

.contenedorPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.tituloPrincipal {
    margin-top: 2rem;
    font-size: 40px;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    background: linear-gradient(90deg,
            #104d8a,
            #00bfff,
            #34a334,
            #1b6b1b,
            #ff4500,
            #ff8c00,
            #e3e1e6,
            #ebe7eb);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 5s ease infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.container-flecha {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    position: relative;
    height: 100px;
    width: 100%;
}

.container-flecha h2 {
    text-align: center;
    font-size: 20px;
    font-family: "Press Start 2P", system-ui;
    color: #ffffff;
    animation: jump 1s infinite;
    left: 50%;
    position: absolute;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 30px solid #35cf20;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    animation: jump 1s infinite;
}

@keyframes jump {

    0%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}

#container-mensajes {
    display: flex;
    justify-content: center;
    align-items: end;
    min-height: 200px;
    width: 100%;
    margin-top: 3rem;
}

#mensajes-batalla {
    color: #ffffff;
    font-size: 15.5px;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
}

.ganado {
    color: green;
}

.perdido {
    color: red;
}

#container-vidas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    color: #ffffff;
    font-size: 20px;
    font-family: "Press Start 2P", system-ui;
    margin-top: 20px;
}

#vidas-computer,
#vidas-player {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title-vidas {
    font-size: 18px;
}

#container-resultado {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mensaje-final {
    text-align: center;
    font-size: 40px;
    font-family: "Press Start 2P", system-ui;
}

.mensaje-ganador {
    color: gold;
}

.mensaje-perdedor {
    color: red;
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.bounce {
    animation-name: bounce;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.anaglyph {
    text-shadow: 4px 2px 2px red, 4px -2px 2px cyan;
}

.contenedorPersonajes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.contenedorBotones {
    margin-top: 3rem;
    display: none;
}

.attacksMagnooki {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.attacksVortapt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.attacksGleamur {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-choice {
    width: 160px;
    height: 60px;
    line-height: 2;
    background-color: #1f1e1e;
    color: #EEEEEE;
    font-size: 10px;
    padding: 5px;
    text-transform: uppercase;
    transition: all 0.5s ease;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    font-family: "Press Start 2P", system-ui;
    margin: 10px 20px;
    text-align: center;
    letter-spacing: .6px;
    line-break: strict;
}

.btn-choice:hover {
    background-color: #219644;
    transition: all ease .5s;
    color: #EEEEEE;
}

.btn-restart {
    width: 180px;
    height: 50px;
    background-color: #1f1e1e;
    margin: 30px;
    color: #EEEEEE;
    position: relative;
    overflow: hidden;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    font-family: "Press Start 2P", system-ui;
}

.buttons button:before,
.buttons button:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #219644;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:after {
    left: 0;
    bottom: 0;
}

.buttons button span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.buttons button span:before,
.buttons button span:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #219644;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:after {
    left: 0;
    bottom: 0;
}

.buttons button p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
}

.buttons button p:before,
.buttons button p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
}

.buttons button p:before {
    content: attr(data-title);
    line-height: 2;
    top: 50%;
    transform: translateY(-50%);
}

.buttons button p:after {
    content: attr(data-text);
    top: 150%;
    color: #EEEEEE;
}

.buttons button:hover:before,
.buttons button:hover:after {
    width: 100%;
}

.buttons button:hover span {
    z-index: 1;
}

.buttons button:hover span:before,
.buttons button:hover span:after {
    height: 100%;
}

.buttons button:hover p:before {
    top: -50%;
    transform: rotate(5deg);
}

.buttons button:hover p:after {
    top: 50%;
    transform: translateY(-50%);
}

.buttons button.start {
    background-color: #219644;
    box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.buttons button.start p:before {
    top: -50%;
    transform: rotate(5deg);
}

.buttons button.start p:after {
    color: white;
    transition: all 0s ease;
    content: attr(data-start);
    top: 50%;
    transform: translateY(-50%);
    animation: start 0.3s ease;
    animation-fill-mode: forwards;
}

@keyframes start {
    from {
        top: -50%;
    }
}

.buttons button.start:hover:before,
.buttons button.start:hover:after {
    display: none;
}

.buttons button.start:hover span {
    display: none;
}

.buttons button:active {
    outline: none;
    border: none;
}

.buttons button:focus {
    outline: 0;
}

/* ====== MEDIAQUERIES ====== */

@media (min-width: 320px) and (max-width: 500px) {

    .tituloPrincipal {
        font-size: 20px;
        line-height: 1.7;
        margin-bottom: 5rem;
    }

    .pantalla-juego {
        display: none;
        background-position: center center;
    }

    .contenedorBotones {
        flex-wrap: wrap;
    }

    .btn-choice {
        width: 125px;
        font-size: 7px;
        height: 40px;
        margin: 10px;
    }

    #startbutton {
        font-size: 9px;
        padding: 0;
        left: 37%;
    }

    .container-flecha {
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: start;
    }

    .container-flecha h2 {
        font-size: 12px;
        width: 100%;
    }

    .contenedorPersonajes {
        margin-top: 1rem;
    }

    .arrow-down {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid #35cf20;
        bottom: 15px;
    }

    .btn-restart {
        width: 140px;
        margin: 20px;
        font-size: 8px;
        margin-bottom: 5rem;
    }
}